:root {
  --primary-color: #F1F3FF;
  --secondary-color: #000000;
  --third-color: #0D28A6;
}

body {
  font-family: Helvetica;
}

#header {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: var(--primary-color);
}

#header .header-logo {
  width: 190px;
  height: auto;
}

#header .nav-menu li {
  margin-right: 13px;
  margin-left: 13px;
}

#header .nav-menu li a {
  color: var(--secondary-color);
  text-decoration: none;
}

#header .nav-menu li a:hover {
  color: var(--third-color);
}

#main {
  overflow: hidden;
}

#hero {
  background-color: var(--primary-color);
}

#hero .hero-description {
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  #hero .hero-description {
    margin-bottom: 0;
  }
}

#hero .hero-image {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #hero .hero-image {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

#hero .hero-cta {
  background-color: var(--secondary-color);
  border-width: 0;
}

#hero .hero-cta:hover {
  background-color: var(--secondary-color);
}

#service {
  padding-top: 50px;
  padding-bottom: 50px;
}

#service .img-check {
  padding-right: 15px;
}

#why-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

#why-us .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0px;
}

#why-us .flex-container .flex-items {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  width: 250px;
  height: 150px;
  line-height: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimonial {
  margin-bottom: 3em;
  background: #F1F3FF;
  padding: 3em;
  border-right: 30px solid #fff;
  min-height: 150px;
}

.testimonial .testimonial-header {
  text-align: center;
}

.testimonial .container {
  text-align: justify;
}

.testimonial .testimony-body {
  font-size: .9em;
}

.avatar img {
  max-width: 200%;
}

#getting-started {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffff;
}

#getting-started .container {
  background-color: var(--third-color);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#getting-started .container .getting-started-description {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

#getting-started .container .getting-started-description .getting-started-content {
  padding-bottom: 15px;
}

#faq {
  padding: 50px;
}

#faq .faq-flex {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: 20px;
}

#faq .faq-flex .faq-question {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */