:root {
    --primary-color: #F1F3FF;
    --secondary-color: #000000;
    --third-color: #0D28A6;
}

body {
    font-family: Helvetica;
}

#header {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: var(--primary-color);
    .header-logo {
        width: 190px;
        height: auto;
    }
    .nav-menu {
        li {
            margin-right: 13px;
            margin-left: 13px;
            a {
                color: var(--secondary-color);
                text-decoration: none;
               &:hover {
                   color: var(--third-color);
               }
            }
        }
    }
}

#main {
    overflow: hidden;
}

#hero {
    background-color: var(--primary-color);

    .hero-description {
        margin-bottom: 30px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }
    }
    .hero-image {
        width: 100%;
        @media screen and (min-width: 1024px) {
            transform: translateX(20%);
        }
    }    
    .hero-cta {
        background-color: var(--secondary-color);
        border-width: 0;
        &:hover {
            background-color: var(--secondary-color);
        }
    }
}

#service {
    padding-top: 50px;
    padding-bottom: 50px; 

    .img-check {
        padding-right: 15px;
    }
}

#why-us {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

    .container {
    width: 81.11vw;

    .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin: 0;
    }

    .lead {
      margin: 16px 0 40px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }

    .content {
      display: flex;
      justify-content: space-between;

      .card {
        border: 1px solid #d0d0d0;
        border-radius: 8px;
        width: 18.611vw;
        height: 196px;
        padding: 24px;
        margin-right: 2.22vw;

        .icon {
          height: 32px;
          width: 32px;
          padding: 7.67px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 24px;
            width: 24px;
          }
        }

        .title {
          font-size: 16px;
          font-weight: 700;
          margin: 16px 0;
          line-height: 24px;
        }

        .lead {
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          margin: 0;
          width: 15.27vw;
          height: 4.16vw;
        }
      }
    }
  }
}

.testimonial {
	margin-bottom: 3em;
	background: #F1F3FF;
	padding: 3em;
	border-right: 30px solid #fff;
	min-height: 150px;

    .testimonial-header {
        text-align: center;
    }

    .container {
        text-align: justify;
    }
    
	.testimony-body {
		font-size: .9em;
	}
}
.avatar {
	img {
		max-width: 200%;
	}
}

#getting-started {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffff;
    .container {
        background-color: var(--third-color);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .getting-started-description {
            margin-top: 100px;
            margin-bottom: 100px;
            text-align: center;

            .getting-started-content {
                padding-bottom: 15px;
            }
        }
    }
}

#faq {
    padding: 50px;

    .faq-flex {
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        margin: 20px;

        .faq-question {
            margin-left: 10px;
        }
    }
}

#footer {
    padding: 50px;

    .container {
        justify-content: space-between;

        .contact-icon {
            padding-top: 15px;
        }
    }
}